<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>Dear community:</p>
    <p>We are pleased to send you an invitation on behalf of Ambassador [NAME_EMBASSADOR_AND_DESTINATION_PAIS], to the
        commemorative act of the <strong>[NAME_EVENT]</strong>, to be held on <strong>[DATE_AND_TIME]</strong>, at
        <strong>[PLACE]</strong> ([ADDRESS]).
    </p>
    <p>It will be a special occasion to celebrate together our National date. </p>
    <p>We would appreciate you confirming attendance until <strong>[DEADLINE_CONFIRMATION]</strong> to the email address <a
            title="mailto:[MAIL_EMBAJADA]" href="mailto:[MAIL_EMBAJADA]" target="_blank"
            rel="noopener noreferrer">[MAIL_EMBAJADA]</a>, indicating:</p>
    <ul>
        <li>Full name of each adult. </li>
        <li>Quantity of children per family.</li>
    </ul>
    <p><strong>Details to keep in mind:</strong></p>
    <ul>
        <li>In case of rain, we will reschedule the celebration. </li>
    </ul>
    <p><strong>Dress code:</strong></p>
    <ul>
        <li><u>Adults:</u> Formal clothing suitable for garden.</li>
        <li><u>Children:</u> those who want to dress up as "gauchos" and "paisanas"</li>
    </ul>
    <p>Embassy of [PAIS]</p>
</body>

</html>