<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>En nombre de S.E. [NOMBRE_EMBAJADOR], Embajador de [PAIS], adjuntamos una invitación formal para asistir a la recepción en celebración de <strong>[NOMBRE_EVENTO]</strong>.
    </p>
    <p>El evento tendrá lugar el <strong>[FECHA]</strong> en <strong>[LUGAR]</strong>.</p>
    <p>Estaremos encantados de recibirle en esta ocasión especial.</p>
    <p>Atentamente,</p>
    <p>Embajada de [PAIS]</p>
</body>

</html>