<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <p>Querida comunidad:</p>
    <p>Tenemos el placer de enviarle una invitación en nombre del Embajador [NOMBRE_EMBAJADOR_Y_DESTINO_PAIS], al
        acto conmemorativo del <strong>[NOMBRE_EVENTO]</strong>, que se celebrará el <strong>[FECHA_Y_HORA]</strong>, en
        <strong>[LUGAR]</strong> ([DIRECCIÓN]).
    </p>
    <p>Será una ocasión especial para celebrar juntos nuestra fecha patria. </p>
    <p>Le agradeceríamos que confirmara su asistencia antes del <strong>[FECHA LIMITE_CONFIRMACIÓN]</strong> a la dirección
        de correo electrónico <a title="mailto:[CORREO_EMBAJADA]" href="mailto:[CORREO_EMBAJADA]" target="_blank"
            rel="noopener noreferrer">[CORREO_EMBAJADA]</a>, indicando:</p>
    <ul>
        <li>Nombre completo de cada adulto. </li>
        <li>Cantidad de niños por familia.</li>
    </ul>
    <p><strong>Detalles a tener en cuenta:</strong></p>
    <ul>
        <li>En caso de lluvia, reprogramaremos la celebración. </li>
    </ul>
    <p><strong>Código de vestimenta:</strong></p>
    <ul>
        <li><u>Adultos:</u> Ropa formal adecuada para jardín.</li>
        <li><u>Niños:</u> los que quieran vestirse de gauchos y paisanas.</li>
    </ul>
    <p>Embajada de [PAIS]</p>

</body>

</html>