<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <p>$guest_name:</p>
    <p>On behalf of H.E. [AMBASSADOR_NAME], Ambassador of [COUNTRY_NAME], please find
        attached a formal invitation to attend a reception in celebration of <strong>[EVENT_NAME]</strong>.
    </p>
    <p>The event will take place on <strong>[EVENT_DATE_AND_TIME]</strong> at the <strong>[EVENT_PLACE]</strong>.</p>
    <p>We would be delighted to welcome you to this special occasion.</p>
    <p>Kind regards,</p>
    <p>Embassy of [COUNTRY_NAME]</p>
</body>

</html>